body{
	background-image: url('2.jpg') no-repeat;
	background-position: center center;

	/* background-repeat: no-repeat; */
	/* opacity: 0.5; */
}

.limiter{
	/* padding-top: 200px; */
	background: white;
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
img{
	background: rgb(42, 165, 155);
	background-image: url("2.png");
	opacity: 0.5;
	position: initial;
	z-index: -1;
}

.bottom{
	padding-bottom: 300px;
	color: white;
}

h1{
	text-align: center;
	padding-top: 100px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.Username{
	font-family: 'Roboto', sans-serif;
	margin-left: 100px;
	display: block; 
	width: 100%;
	border: 1px solid transparent;
	border-radius: 3px;
	/* margin-right: auto; */
}

.Passwd{
	font-family: 'Roboto', sans-serif;
	margin-left: 100px;
	margin-top: 5px;

}
.user_input{
	/* margin-left: auto;
	margin-right: auto; */
	font-family: 'Roboto', sans-serif;
	/* text-align: center; */
	padding-left: 20px;
	font-size: 16px;
	border-radius: 2px;
	width: 250px;
	height: 30px;
	background: #e7e2e2;
	border: 3px;
}

.pwd_input{
	/* margin-left: auto;
	margin-right: auto; */
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	font-size: 16px;
	border-radius: 2px;
	width: 250px;
	height: 30px;
	background: #e7e2e2;
	border: 3px;
}

button{
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	margin-left: 200px;
	width: 70px; 
	height: 30px;
}



