body{
	height: 100px;
	font-family: 'Roboto', sans-serif;
	
}

.limiter{
	width: 100%;
	margin: 0 auto;
}

.container{
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	background-position: center;
	background-image: url("3.jpg")
}

.login_box{
	width: 390px;
	background: white;
	border-radius: 3px;
	position: relative;

}

.login_form{
	width: 100%;
}

h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 30px;
	width: 100%;
	line-height: 3;
	color: rgb(11, 77, 107);
}

.user{
	width: 100%;
	position: relative;
	/* background-color: green; */
	
}

.user_input{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	
	align-self: center;
	background-color: rgb(199, 196, 196);
	border: none;
	height:40px;
	padding-left: 30%;
	margin-left: 65px;
  padding: 0 20px 0 38px;

}

.pwd{
	width: 100%;
}

.pwd_input{
		font-family: 'Roboto', sans-serif;
	font-size: 18px;
	
	/* align-self: center; */
	background-color: rgb(199, 196, 196);
	border: none;
	height:40px;
	padding-left: 30%;
	margin-left: 65px;
	padding: 0 20px 0 38px;
	margin-top: 10px;
}


.login_button{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: white;
	display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
	align-items: center;
	padding: 0 20px;
	background-color: rgb(82, 82, 184);
	width: 40%;
	height: 30px;
	border-radius: 3px;
	border: none;
	margin-left: 110px;

}

.login_button:hover{
	background-color: rgb(127, 127, 221);
}
